@model Usuario
@{
    ViewData["Title"] = "Login";
}

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

<style>
    body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #000000;
  background-color: #f7ad00;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
</style>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <form method="POST" asp-action="Login" id="login-form" class="form">

                            <h3 class="text-center text-info text-dark">Login</h3>

                            <div class="form-group text-dark">
                                <label asp-for="Login" class="text-dark">Login:</label><br>
                                <input asp-for="Login" type="text" class="form-control" required >
                            </div>

                            <div class="form-group text-dark">
                                <label asp-for="Senha" class="text-dark">Senha:</label><br>
                                <input type="password" asp-for="Senha" required class="form-control">
                            </div>
                            <div class="form-group" style="margin-left: 190px; margin-top: 30px">
                                <input type="submit" class="btn btn-dark text-white" value="Enviar">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<p style="margin-left: 500px; margin-top:150px"><strong>  @ViewBag.Mensagem </strong>  </p>